/* --------------- LAYOUT -------------- */
.main-container {
  display: flex;
  width: 1200px;
}

/* --------------- GENERAL -------------- */
ul {
  list-style-type: none;
}
h1,
h2 {
  text-transform: uppercase;
}
/* --------------- ASIDE ----------------- */
aside {
  background-color: #51718C;
  width: 30%;
  margin-right: 3%;
}
aside * {
  color: #F2F2F2;
}
aside h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
aside section h2:first-child {
  border-bottom: 2px solid #F2F2F2;
}

#profile-pic img {
  border-radius: 50%;
  border: solid #F2F2F2;
}
/* --------------- MAIN ----------------- */
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero {
  background-color: #768FA6;
  box-shadow: 2px 2px 1px #51718C inset;
  padding: 15% 0;
  text-align: center;
}
.hero h2 {
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: 10px;
}
.hero h1 {
  letter-spacing: 10px;
}
/* .about-me {
  background-color: #F7DDC3;
} */
.about-me p {
  line-height: 1.5em;
  background-color: #BFD1D9;
  padding: 15px;
}
.about-me h2 {
  background-color: white;
}
article h3,
article h4 {
  font-weight: bold;
}
article ul {
  list-style-type: square;
}
/* --------------- REFERENCES ----------------- */
.references {
  display: flex;
  flex-wrap: wrap;
  background-color: #BFD1D9;
  padding: 15px;
}
.references article {
  flex-basis: 50%;
  text-align: center;
}
/* --------------- DL ----------------- */

dt,
dd {
  line-height: 1.5em;
  border-top: 1px solid #F2F2F2;
  width: 40%;
  margin: 0;
}
dt:last-of-type,
dd:last-child {
  border-bottom: 1px solid #F2F2F2;
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  font-weight: bolder;
}
/* --------------- ICONS ----------------- */
.social-item:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1ea"
}
.social-item::before {
  padding-right: 15px
}
