/* --------------- LAYOUT -------------- */
.main-container {
  display: flex;
  flex-basis: 1200px;
  justify-content:center;
  background-color: #F2F2F2;
}

/* --------------- GENERAL -------------- */
ul {
  list-style-type: none;
}
.clear {
  clear: both;
}
h1,
h2 {
  text-transform: uppercase;
}
/* --------------- ASIDE ----------------- */
aside {
  background-color: #51718C;
  flex-basis: 25%;
  margin-right: 2%;
}
aside * {
  color: #F2F2F2;

}
aside h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
aside section h2:first-child {
  border-bottom: 2px solid #F2F2F2;
  margin-left: 3%;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile-pic img {
  border-radius: 50%;
  border: solid #F2F2F2;
  width: 200px;
}

/* --------------- MAIN ----------------- */
main {
  flex-basis: 60%;
}
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero {
  background-color: #768FA6;
  box-shadow: 2px 2px 1px #51718C inset;
  padding: 15% 0;
  text-align: center;
}
.hero h2 {
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: 10px;
}
.hero h1 {
  letter-spacing: 10px;
}
/* .about-me {
  background-color: #F7DDC3;
} */
.about-me p {
  line-height: 1.5em;
  background-color: #BFD1D9;
  padding: 15px;
}
.about-me h2 {
  background-color: #F2F2F2;
}
article h3,
article h4 {
  font-weight: bold;
}
article ul {
  list-style-type: square;
}
/* --------------- REFERENCES ----------------- */
/* .references {
  display: flex;
  flex-wrap: wrap;
  background-color: #BFD1D9;
  padding: 15px;
}
.references article {
  flex-basis: 50%;
  text-align: center;
} */
/* --------------- DL ----------------- */

dt,
dd {
  line-height: 1.5em;
  border-top: 1px solid #F2F2F2;
  width: 40%;
  margin: 0;
}
dt:last-of-type,
dd:last-child {
  border-bottom: 1px solid #F2F2F2;
}

dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
dt {
  font-weight: bolder;
}
/* --------------- ICONS ----------------- */
/* .social-item::before {
  display: inline-block;
  padding-right: 15px;
} */
.icon::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
}
.fb::before {
  content: "\f121";
}

/* --------------- METER ----------------- */
meter {
  display: block;
  width: 80%;
}
meter::-webkit-meter-optimum-value {
   background: none;
   background-color: #768FA6;
 }
 meter::-webkit-meter-bar {
    background: none;
    background-color: #F2F2F2;
  }
